.editor {
	width: 410px;
    height: 670px;
    top: 100px;
    left: 190px;    
    position: relative;
    background: #FFF;
    box-shadow: 0 0 6px #a9a9a9;
    margin-bottom: 40px;
    transition: 0.2s;
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    box-shadow: 0 0 20px #c1c1c1;
}