.eleText {
    width: 318px;
    position: absolute;
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    font-size: 16px;
    line-height: 31.8px;
    letter-spacing: 0em;
    opacity: 1;
    text-align: center;
    font-style: normal;
    text-decoration: none;
    display: block;
    animation: none;
    border: 1px dashed rgb(102, 102, 102);
}
.uneditableText {
    border: none;
}

.btn {
    margin-left: 20px;
}